<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <arpSearchSettings type="ARPSearch.Settings.ARPSearchSettings, ARPSearch">
        <SearchServiceAjaxRequestUrl>api/sitecore/ARPSearch/GetSearchResults</SearchServiceAjaxRequestUrl>
        <facets hint="raw:AddFacetDef">
          <facet facetDefenitionID="{110D559F-DEA5-42EA-9C1C-8A5DF7E70EF9}">
            <templateId>Home</templateId>
          </facet>
          <facet facetDefenitionID="{3D6658D8-A0BF-4E75-B3E2-D050FABCF4E1}">
            <templateId>Media Library</templateId>
          </facet>
        </facets>

      </arpSearchSettings>
    </settings>
  </sitecore>
</configuration>
