<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <arpSearchSettings type="ARPSearch.Settings.ARPSearchSettings, ARPSearch">
        <SearchServiceAjaxRequestUrl>api/sitecore/ARPSearch/GetSearchResults</SearchServiceAjaxRequestUrl>
        <facets hint="raw:AddFacetDef">
          <facet facetDefenitionID="{9F2FFB67-594A-4F1B-B525-3633F4FE7848}">
            <templateId>dropdown-facet</templateId>
          </facet>
          <facet facetDefenitionID="{34D70DBE-327F-4DF7-BC75-7AD5D87769C6}">
            <templateId>checkbox-list-facet</templateId>
          </facet>
          <facet facetDefenitionID="{3E9C7780-6DFD-4F3E-B634-0BE8771F45CF}">
            <templateId>checkbox-facet</templateId>
          </facet>
        </facets>
        <resultsMapping hint="raw:AddResultMapping">
          <result resultTemplateId="{F1828A2C-7E5D-4BBD-98CA-320474871548}">
            <templateId>media-search-result</templateId>
          </result>
          <result resultTemplateId="{DAF085E8-602E-43A6-8299-038FF171349F}">
            <templateId>media-search-result</templateId>
          </result>
        </resultsMapping>
      </arpSearchSettings>
    </settings>

    <!--<contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration>
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="urllink" returnType="string">Sitecore.ContentSearch.ComputedFields.UrlLink,Sitecore.ContentSearch</field>
            </fields>
          </documentOptions>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>-->
  </sitecore>
</configuration>
